extends ./_partials/layout.pug

block vars


  - bodyClass = categoryCssClass

block main

  main
    .main-container.container
      .columns
        .column.is-full.is-two-thirds-widescreen
          .section.section-posts

            article.post-thumb
              h1.title #{title}
              .date #{date}


              .post-content
                | !{content}



block foot

