extends ../_partials/layout.pug

block vars
  - bodyClass = 'articles'

block main

  main
    .main-container.container
      .columns
        .column.is-half-widescreen.is-full
          .section.section-posts
            h2.section-title all articles

            each article in posts

              - const isFiction = article.categories.includes(303);
              - const isPoetry = article.categories.includes(304);
              - const isAcademic = article.categories.includes(8);

              if (!isAcademic && !isPoetry && !isFiction)
                article.post-thumb
                  h3.title
                    a(href=`/article/${article.slug}`) #{article.title.rendered}
                  - const dateCzech = makeCzechDateFromYMD(article.date.split('T')[0]);
                  .date #{dateCzech}

block foot

