
.main-footer
  .container
    .columns
      .column.is-full
        .section.section-contact
          h2.section-title contact
          p Email: hello (at) jakubferenc.cz
          p Twitter: <a href="https://twitter.com/jakub_ferenc">@jakub_ferenc</a>
          p Instagram: <a href="https://instagram.com/jakubalbertferenc">@jakubalbert</a>
          p Facebook: <a href="https://facebook.com/jakub.albert.ferenc">Jakub Albert Ferenc</a>
          p LinkedIn: <a href="https://www.linkedin.com/in/jakubferenc">Jakub Albert Ferenc</a>
          p GitHub: <a href=" https://github.com/jakubferenc">@jakubferenc</a>



