header.header-main

  .container
    .columns
      .column

        nav.main-nav(role="navigation")

          a.item.item-home(href="/", title="title" class=(bodyClass === "index" ? "is-active" : undefined)) Mgr. Jakub Ferenc
          a.item(href="/articles", title="title" class=(bodyClass === "articles" ? "is-active" : undefined)) journal
          a.item(href="/publications", title="title" class=(bodyClass === "academic" ? "is-active" : undefined)) publications
          a.item(href="/teaching", title="title" class=(bodyClass === "teaching" ? "is-active" : undefined)) teaching
          a.item(href="/events", title="title" class=(bodyClass === "events" ? "is-active" : undefined)) events
          a.item(href="/bio", title="title" class=(bodyClass === "bio" ? "is-active" : undefined)) bio/cv
