header.header-main

  .container
    .columns
      .column

        nav.main-nav(role="navigation")
          a.item(href="/", title="title" class=(bodyClass === "index" ? "is-active" : undefined)) index
          a.item(href="/articles", title="title" class=(bodyClass === "articles" ? "is-active" : undefined)) articles
          a.item(href="/academic", title="title" class=(bodyClass === "academic" ? "is-active" : undefined)) academic texts
          a.item(href="/fiction-poetry", title="title" class=(bodyClass === "fiction-poetry" || bodyClass === "fiction-poetry poetry" ? "is-active" : undefined)) fiction/poetry
          a.item(href="/events", title="title" class=(bodyClass === "events" ? "is-active" : undefined)) events
          a.item(href="/bio", title="title" class=(bodyClass === "bio" ? "is-active" : undefined)) bio/cv
