extends ../_partials/layout.pug

block vars
  - bodyClass = 'teaching'

block main

  main
    .main-container.container
      .columns
        .column.is-half-widescreen.is-full
          .section.section-posts

            h2.section-title 2020

            .post-thumb-list
              .title Principy interaktivní tvorby / Principles of Interactive Design
              p.meta graduate course, <em>lecturer</em> • summer term 2020
              .date Charles University (in Prague), Faculty of Arts and Philosophy, New Media Studies department

            .post-thumb-list
                .title Kognice a komunikace / Cognition and Communication
                p.meta undergraduate course, <em>teaching assistant</em> • summer term 2020
                .date University of West Bohemia, Department of Philosophy

            .post-thumb-list
                .title Biomedicínské aspekty filosofie člověka / Biomedical Aspects of Philosophy of the Human
                p.meta undergraduate course, <em>teaching assistant</em> • summer term 2020
                .date University of West Bohemia, Department of Philosophy

            .post-thumb-list
                .title BA (Hons) Graphic Design
                p.meta undergraduate course, <em>guest lecture</em> • summer term 2020
                .date Prague College, School of Art &amp; Design

            h2.section-title 2019

            .post-thumb-list
              .title Principy interaktivní tvorby / Principles of Interactive Design
              p.meta graduate course, <em>lecturer</em> • summer term 2019
              .date Charles University (in Prague), Faculty of Arts and Philosophy, New Media Studies department

block foot

