extends ../_partials/layout.pug

block vars
  - bodyClass = 'bio'

block main

  main
    .main-container.container

      .columns
        .column.is-half-widescreen
          .section.home-info
            p
              | Currently, I study a PhD programme Philosophy and History of Science and Technology at University of West Bohemia <br><br>
              | I studied Etnography at University of Bonn and Philosophy of Mind and Phenomenology at University of Copenhagen <br><br>
              | I teach at New Media Studies department at Charles University and Philosophy department at University of West Bohemia<br><br>
              | I work as a UX architect and founded a small design studio <a href="https://www.assemblage.cz">Assemblage.cz</a>

          .section.other-bio


            h2.section-title education
            .education-bio

              | ph.d., filozofický ústav av čr / zču v plzni (2018-doposud) <br>

              | mgr., studia nových médií, ff uk (2015-2018, summa cum laude, nominace na bolzanovu cenu)
              <br>
              | etnografie, universität bonn (2018 erasmus)
              <br>
              | kognitivní informatika, vše v praze (2017-2018)
              <br>
              | bc., informační technologie a anglický jazyk, pedf uk (2011-2015)
