extends ../_partials/layout.pug

block vars
  - bodyClass = 'bio'

block main

  main
    .main-container.container

      .columns
        .column.is-half-widescreen
          .section.home-info
            p
              | Currently, I study a PhD programme Philosophy and History of Science and Technology at University of West Bohemia <br><br>
              | I had a privilege to study Etnography at University of Bonn and Philosophy of Mind and Phenomenology at University of Copenhagen <br><br>
              | I also teach during the summer semester at New Media Studies department at Charles University<br><br>
              | I work as a UX architect (designer) and founded a small design studio <a href="https://www.assemblage.cz">Assemblage.design</a>

          .section.other-bio

            p.tl-dr-bio tl;dr in czech: dělám ux design a taky o něm přemejšlím. design chápu jako proces hledání problémů a jejich řešení vyžaduje systémovej pohled. zkoumám možnost, že technologie a prostředí jsou součástí naší mysli viz teorie rozšířené kognice. souhlasím s andy clarkem, že jsme přirození kyborgové.

            h2.section-title education
            .education-bio

              | ph.d., filozofický ústav av čr / zču v plzni (2018-doposud) <br>

              | mgr., studia nových médií, ff uk (2015-2018, summa cum laude, nominace na bolzanovu cenu)
              <br>
              | mgr., etnografie, universität bonn (2018 erasmus)
              <br>
              | ing., kognitivní informatika, vše v praze (2017-2019)
              <br>
              | bc., informační technologie a anglický jazyk, pedf uk (2011-2015)
