@charset "UTF-8";

@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import "lib/all";


div, textarea {box-sizing: border-box;}

html {
  font-size: 14px;
  @include from($widescreen) {
    font-size: $base-font-size;
  }
}

body {
  font-family: 'EB Garamond', serif;
  font-weight: 200;
  color: $primary-color;
  line-height: 1.7;
  padding: 30px;
  margin: 0;
  font-size: 150%;

  @include from($widescreen) {
    padding: 45px 58px;
    padding-top: 50px;
  }

}

strong {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h2 {font-family: sans-serif;}

/* :CUSTOM CLASSES: */
.home-info em {
  font-style: normal;
  border-bottom: 1px solid black; padding-bottom: 0px;
}

.main-container {
  position: relative;
  z-index: 2;
}

/* :GRID: */

/****************************************************/
/* :LAYOUT: */

.container {
  @include from($fullhd) {
    min-width: 1640px;
  }
}
.section {
  padding: 0;
}

.section-title {
  @include fontSize(28px);
}

.column {padding: 0;}


/****************************************************/



/****************************************************/
/* :HEADER: */
.header-main {
  margin-bottom: 60px;

  .container {
    position: relative;
  }

  .main-nav {
    text-transform: lowercase;
    .item {
      margin-right: 30px;
      @include fontSize(21px);

      &.is-active {
        text-decoration: underline;
      }
    }

    .item-home {
      display: block;
      @include from($widescreen) {
        display: inline-block;
      }
    }
  }
}

.profile-photo {
  @include from($widescreen) {
    position: fixed;
    top: 60px;
    right: 7%;
  }
}


/****************************************************/


/****************************************************/
/* :MAIN: */
.home-info {
  @include fontSize(35px);
  line-height: 1.2;
  @include from($widescreen) {
    margin-bottom: 100px;
  }
}

/****************************************************/

/****************************************************/
/* :POSTS: */

.aside-articles {

}

.aside-subtle {

  @include from($widescreen) {
    opacity: .3;
    &:hover {
      opacity: .8;
    }
  }

}

.aside {
  margin-bottom: 2em;

.aside-title {
  color: rgba(0,0,0,.3);
}

  .aside-footer {
    margin-top: 1em;
    @include fontSize(18px);
    a {
      border-bottom: 1px solid black;
    }
  }
}

.aside-categories {

  .post-thumb-aside {
    margin-bottom: 0em;
    @include fontSize(22px);
  }


}

.section-articles {
  @include from($widescreen) {
    padding-right: 8%;
  }

}

.post-thumb-aside.post-thumb {

  .title {
    @include fontSize(25px);

  }
  .date {
    @include fontSize(20px);

  }

}

.post-thumb-aside-inline.post-thumb {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid black;

  &:last-of-type {
    border: none;
  }
}

.post-thumb-list {

  margin-bottom: 1.5rem;

  .title {
    @include fontSize(30px);
    text-transform: lowercase;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: #000;
  }

  .meta {
    @include fontSize(20px);
    line-height: 1.125;

  }

  .date {
    @include fontSize(20px);
    opacity: .50;
    line-height: 1.125;
    margin-top: .5rem;
  }

}

.post-thumb {

  margin-bottom: 1rem;

  .title {
    @include fontSize(35px);
    text-transform: lowercase;
    line-height: 1.1;
    margin-bottom: 0;
    font-weight: normal;
    color: #000;
  }
  .date {
    @include fontSize(30px);
    opacity: .50;
    line-height: 1.125;
    margin-top: .25em;
  }

  .post-content {
    margin-top: 30px;
    @include fontSize(20px);
    line-height: 1.5;

    a {text-decoration: underline;}
    p {
      margin-bottom: 1em;
    }

    blockquote {
      padding-left: 2em;
      font-size: 1rem;
      font-style: italic;
    }

    h1, h2, h3 {margin-bottom: .5em; font-weight: bold;}

    ul {list-style: disc; margin: 1em 0;}
    ul li {margin-left: 1em;}
    ul ul {margin-left: 1em;}

  }

  .post-meta {
    margin-top: 4rem;
    .tag {
      border: 1px solid #000;
      padding: 5px 10px;
      display: inline-block;
      margin-right: 5px;
      text-align: center;
      border-radius: 0;
      background: none;
    }
  }

}

.image-container {margin: 1em 0;}
.image-description {
  font-style: italic;
  font-size: .9rem;
}


.section {

  margin-bottom: 30px;

  @include from($widescreen) {
    margin-bottom: 60px;
  }


}
.other-bio {

  .tl-dr-bio {
    @include fontSize(28px);
    line-height: 1.1;
    margin-bottom: 30px;
  }

  .education-bio {
    @include fontSize(21px);
  }
}


/****************************************************/


/****************************************************/
/* :FOOTER: */
.main-footer {

  .section-contact {
    p {
      @include fontSize(30px);
    }

  }

}


/****************************************************/
